/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Corpo da página */
body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

/* Título principal */
h1:first-of-type {
    font-size: 2.2rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* Caixa do saldo */
h1:last-of-type {
    background-color: rgba(255, 255, 255, 0.12);
    padding: 25px 40px;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: bold;
    color: #00ffcc;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

/* Efeito ao passar o mouse */
h1:last-of-type:hover {
    transform: scale(1.05);
}

button:hover {
    background-color: #00c090;
    transform: scale(1.05);

}

button {
    background-color: #00e0a1;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    color: #00ffcc;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

p {
    background-color: rgba(255, 255, 255, 0.12);
    padding: 2px 25px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #00ffcc;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

h2:first-of-type {
    font-size: 2.2rem;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

/* Caixa do saldo */
h2:last-of-type {
    background-color: rgba(255, 255, 255, 0.12);
    padding: 25px 40px;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: bold;
    color: #00ffcc;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

/* Efeito ao passar o mouse */
h2:last-of-type:hover {
    transform: scale(1.05);
}

.login-box h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

/* Inputs */
.login-box input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
}

/* Botão */
.login-box button {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.12);
    color: #00ffcc;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover do botão */
.login-box button:hover {
    background-color: #00e6b8;
    transform: scale(1.05);

}

img {
    max-width: 100%;
    height: auto;
}

.login-box {
    width: 90%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 768px) {

    h1,
    h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}